/* Color palette: #02010A #04052E #140152 #22007C #0D00A4 */

:root{
    --textAlignValue: center;
    --flexBoxHeight:100vh;
    --textSize: ;
}

* {
    background-color: #02010A;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    margin-right:25px;
    margin-left:25px;
}

.content{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
}

.content h1{
    font-size: 200%;
}

.content p{
    font-size: 25px;
}

.high-scores {
    height: var(--flexBoxHeight);
    width: 20vw;
    text-align: var(--textAlignValue);
}

.quiz {
    height: var(--flexBoxHeight);
    width: 50vw;
    text-align: var(--textAlignValue);
}

.quiz h2{
    font-style: italic;
}

.quiz button{
    border: 2px solid white;
    border-radius: 10px;
    width: 30vw;
    height: 5vw;
    margin: 10px;
    font-size: 120%;
    background-color: #140152;

}

.quiz button:hover{
    background-color: #0D00A4;
    cursor: pointer;
    box-shadow: 0px 0px 10px white inset;
    transition: box-shadow  0.5s;
    transition: background-color  0.5s;
}

.gameButton{
    display: none;
}

.quiz p{
    font-style: italic;
    color: #999999;
}

.timer {
    height: var(--flexBoxHeight);
    width: 20vw;
    text-align: var(--textAlignValue);
}

footer{
    text-align: var(--textAlignValue);
}

.links {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.links a{
    text-decoration: none;
    font-size: 20px;
}

/* REMEMBER TO REMOVE ONCE DONE */
/* REMEMBER TO REMOVE ONCE DONE */
/* REMEMBER TO REMOVE ONCE DONE */
/* REMEMBER TO REMOVE ONCE DONE */
/* REMEMBER TO REMOVE ONCE DONE */
body section{
    border: 1px solid white;
}
/* REMEMBER TO REMOVE ONCE DONE */
/* REMEMBER TO REMOVE ONCE DONE */
/* REMEMBER TO REMOVE ONCE DONE */
/* REMEMBER TO REMOVE ONCE DONE */
/* REMEMBER TO REMOVE ONCE DONE */